CONFIG_CROSS_COMPILE="aarch64-linux-gnu-"
CONFIG_IOYA_TEXT_BASE=0x80000000
CONFIG_RALLY_TEXT_BASE=0x0
CONFIG_XIAOMI_ALIOTH=y
CONFIG_SERIAL_FB=y
CONFIG_SERIAL_FB_BASE=0x9C000000
CONFIG_SERIAL_FB_WIDTH=1080
CONFIG_SERIAL_FB_HEIGHT=2400
CONFIG_SERIAL_FB_STRIDE=4
CONFIG_BLOCK_DEV_UFSHC=y
CONFIG_BLOCK_DEV_UFSHC_BASE=0x01D84000