CONFIG_CROSS_COMPILE="aarch64-linux-gnu-"
CONFIG_IOYA_TEXT_BASE=0x80000000
CONFIG_RALLY_TEXT_BASE=0x0
CONFIG_QEMU_VIRT=y
CONFIG_SERIAL_PL011=y
CONFIG_SERIAL_PL011_BASE=0x9000000
CONFIG_SERIAL_FB=y
CONFIG_SERIAL_FB_BASE=0x9C000000
CONFIG_SERIAL_FB_WIDTH=1080
CONFIG_SERIAL_FB_HEIGHT=2400
CONFIG_SERIAL_FB_STRIDE=4
CONFIG_BLOCK_DEV_VIRTIO=y
CONFIG_BLOCK_DEV_VIRTIO_BASE=0x0A003E00